/*--------------------------------------------------------------------------------------------------------------------*/

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{margin:0;font-size:12px;line-height:20px;color:#000;background:#fff;font-family:'\5fae\8f6f\96c5\9ed1','microsoft yahei','helvetica neue','helvetica','arial','sans-serif';font-smoothing:antialiased;}
h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,button,input,select,textarea,table,th,td {margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
tr{vertical-align:top;}
ol,ul{list-style:none;}
li{list-style-type:none;}
a{text-decoration:none;outline:none;cursor:pointer;}
button,input,select,textarea{margin:0;outline:medium;}
button,img{border:0;}
button {cursor:pointer;}

/*--------------------------------------------------------------------------------------------------------------------*/

/*HACk*/
._gg_clearfix{*zoom:1;}
._gg_clearfix:after{content:'\0020';display:block;height:0;clear:both;font-size:0;visibility:hidden;}

/*--------------------------------------------------------------------------------------------------------------------*/

/*表单元素*/
._gg_formtext{width:190px;height:15px;border:1px solid #ddd;padding:4px;background:#fff;font-size:12px;line-height:15px;font-family:inherit;color:#333;}
._gg_formfile{width:198px;height:23px;border:1px solid #ddd;background:#fff;font-size:12px;line-height:15px;font-family:inherit;color:#333;}
._gg_formbutton{width:100px;height:25px;background:#369;font-size:12px;line-height:25px;font-family:inherit;color:#fff;cursor:pointer;}
._gg_formbutton>table{margin:auto;}
._gg_formbutton>table td>i,._gg_formbutton>table td>b {display:block;font-style:normal;font-weight:normal;}
._gg_formtextarea{width:190px;height:90px;border:1px solid #ddd;padding:4px;background:#fff;font-size:12px;line-height:20px;font-family:inherit;color:#333;resize:none;}
._gg_formselect{width:auto;height:25px;font-size:12px;line-height:25px;font-family:inherit;color:#333;}
._gg_formcheckbox{width:13px;height:13px;margin:6px;}
._gg_formradio{width:13px;height:13px;margin:6px;}

/*--------------------------------------------------------------------------------------------------------------------*/

._gg_textimd{ime-mode:disabled;}/*禁用输入法*/
._gg_textttc{text-transform:capitalize;}/*首字母大写*/
._gg_textttu{text-transform:uppercase;}/*全大写*/
._gg_textttl{text-transform:lowercase;}/*全小写*/
._gg_textnbr{overflow:hidden;white-space:nowrap;}/*不换行*/
._gg_textosl{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}/*超出省略号*/
._gg_textsnl{word-break:break-all;word-wrap:break-word;}/*连续字母数字自动换行*/
._gg_textdqi{word-break:break-all;word-wrap:break-word;text-align:justify;}/*文字对齐*/

/*--------------------------------------------------------------------------------------------------------------------*/

._gg_fullfixed {position:fixed;left:0;top:0;width:100%;height:100%;}
._gg_fullhalf5 {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;}

/*--------------------------------------------------------------------------------------------------------------------*/

._gg_bgibrnr {background-repeat:no-repeat;}
._gg_bgibsfm {background-size:cover;}
._gg_bgibpcc {background-position:center center;}
._gg_bgibpct {background-position:center top;}
._gg_bgibpcb {background-position:center bottom;}
._gg_bgibplc {background-position:left center;}
._gg_bgibprc {background-position:right center;}

/*--------------------------------------------------------------------------------------------------------------------*/

._gg_mbwdns{-webkit-user-select:none;-moz-user-select:none;}/*手机端WEB层不被选中*/

/*--------------------------------------------------------------------------------------------------------------------*/

/*临时代码*/
._gg_moveTempcode{transition:all 0.5s linear;}

/*循环旋转*/
._gg_moveLooploop{
animation-name:_gg_moveLooploop;/*名称*/
animation-duration:1s;/*总长:ns*/
animation-timing-function:linear;/*曲线（默认ease）：ease低快慢|linear均速|ease-in低开|ease-out低结|ease-in-out低开结|cubic-bezier(n,n,n,n)*/
animation-delay:0s;/*延迟:ns*/
animation-iteration-count:infinite;/*次数（默认1次）ns|infinite*/
animation-direction:normal;/*逆向：normal|alternate*/
animation:_gg_moveLooploop 1s linear 0s infinite normal;/*缩写*/
}
@keyframes _gg_moveLooploop{0%{transform:rotate(0deg);}100%{transform:rotate(-360deg);}}

/*--------------------------------------------------------------------------------------------------------------------*/
